<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeyou.cu.DAO.BookMapper">  <!-- namespace로 Mapper를 확인한다. -->

	<!-- get html-->
	<insert id="savebook" parameterType="String" >
		insert into book
		values(#{0}, #{1})
	</insert>
	
	<select id="booklist" parameterType="String" resultType="String">
		select title 
			from book 
			where id=#{id} 
	</select>
	
	<delete id="deletebook" parameterType="BookVO">
		delete 
			from book 
			where id=#{0} and title=#{1} 
	</delete>
</mapper>

